.container {
    margin-top: 20px;
    padding: 25px;
}

h1,h2,h3,h4,h5,h6 {
    color: #545454;
}

table {
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 82%);
    width: 100%;
    margin-top: 10px;
}

button {
    min-width: 110px;
}

div.modal-dialog{
    max-width: 800px;
}
div.modal-content{
    width: 800px;
    
}

sup{
    color: red;
}

/* Campos Obrigatórios */
.obrigatorio {
    border: 1px solid red;
}
